

.team-info-wrapper {
  /* width: 100%; */
}

.team-card-wrapper {
  width: 270px;
  height: 338px;
  /* padding: 3px; */
  /* background-color: red; */
  background-image: url("../images/no-image.png");
  background-repeat: no-repeat;
  float: left;
}

.team-card-background {
  /* background-image: url("../images/no-image.png"); */
}
.team-card-foreground {
  display: none;
  /* display: block; */
  width: 270px;
  height: 314px;
  padding: 37px 0px 0px 38px;
  background-image: url("../images/background-on-hover.png");
  background-repeat: no-repeat;
}
.team-card-foreground .card-info {
  text-align: left;
  width: 224px;
}
.team-card-foreground li {
  list-style: none;
  margin: 80px 30px;
  float: left;
}
.team-card-wrapper-l {
  margin-right: 30px;
}

.team-card-wrapper-lm {
  margin-right: 30px;
}

.team-card-wrapper-rm {
  margin-right: 30px;
}

.team-card-wrapper-r {
  margin-right: 0px;
}

.team-card-background {
  position: relative;
  /* width: 100px; */
  /* padding: 3px; */
  /* height: 110px; */
  /* background-color: transparent; */
}

.team-card-name {
  position: absolute;
  top: 284px;
  left: 35px;
  /* text-align: center; */
  /* right: 10px; */
  /* bottom: -30px; */
  width: 200px;
  height: 54px;
  background-image: url("../images/card-name-bg.png");
  background-repeat: no-repeat;
}
.team-card-wrapper:hover {
  cursor: pointer;
}
.team-card-wrapper:hover .team-card-name {
  background-image: url("../images/card-name-bg-hover.png");
  background-repeat: no-repeat;
}
.team-card-wrapper:hover .team-card-foreground {
  display: block;

  /* background-image: url("../images/background-on-hover.png"); */
  background-repeat: no-repeat;
}
.name {
  position: relative;
  /* top: 12px;
    left: 66px; */
  line-height: 54px;
  text-align: center;
  margin: auto;
  color: white;
  font-size: 22px;
}
